<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cureword Admin Board</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <style>
      .input-box{
          width: 400px
        }
      @media screen and (max-width: 840px) {
        .input-box{
          width: 300px
        }
      }
      @media screen and (max-width: 660px) {
        .input-box{
          width: 200px
        }
      }

      
    </style>
  </head>
  <body>
    <div id="app">
      <el-row :gutter="10">
        <el-col :xs="1" :sm="2" :md="3" :lg="4" :xl="4"><br /></el-col>
        <el-col :xs="22" :sm="20" :md="18" :lg="16" :xl="16">
          <el-card>
            <h1>Cureword Admin-Board</h1>
            <span>声明：以下内容为网友提交 如有违规内容将及时删除并且不会出现在主站中</span>
            <el-divider></el-divider>
            <el-card>
              <el-table
                ref="multipleTable"
                :data="nwords"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange"
              >
                <el-table-column type="selection"> </el-table-column>
                <el-table-column label="ID" prop="id"> </el-table-column>
                <el-table-column prop="content" label="内容"> </el-table-column>
                <el-table-column prop="contact" label="联系方式">
                </el-table-column>
                <el-table-column prop="time" label="提交时间">
                </el-table-column>
              </el-table>
              <el-divider></el-divider>
              <el-form
                :model="ruleForm"
                :rules="rules"
                ref="ruleForm"
                label-width="220px"
                status-icon
                :label-position="labelPosition"
                >
                <el-form-item
                  label="Admin Account"
                  prop="account"
                >
                  <el-input
                    v-model="ruleForm.account"
                    class="input-box"
                  ></el-input>
                </el-form-item>
                <el-form-item
                  label="Google 身份验证器 动态口令"
                  prop="accessToken"
                >
                  <el-input
                    v-model="ruleForm.accessToken"
                    class="input-box"
                  ></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="success" @click="submitForm('ruleForm','accept')">通过</el-button>
                  <el-button type="danger" @click="submitForm('ruleForm','refuse')">删除</el-button>
                  <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
              </el-form>
            </el-card>
          </el-card>
        </el-col>
        <!-- <el-col :span="4"><br /></el-col> -->
        <el-col :xs="1" :sm="2" :md="3" :lg="4" :xl="4"><br /></el-col>
      </el-row>
    </div>
  </body>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script> -->

  <script>
    new Vue({
      el: "#app",
      data: function () {
        let w = document.documentElement.offsetWidth || document.body.offsetWidth;
        if (w <= 660) {
          this.labelPosition = "top"
        } else {
          this.labelPosition = "right"
        }
        return {
          nwords: [],
          ruleForm: {
            type: '',
            selects: [],
            account: '',
            accessToken: '',
          },
          rules: {
            account: [{ required: true, message: '请输入Admin Account', trigger: 'blur' },],
            accessToken: [{ required: true, trigger: "blur" }]
          },
        };
      },
      mounted () {
        // this.$http.get("/app?value=get")
        axios
          .get("/app?value=get")
          .then(response => {
            // this.$set(this.nwords, 'data', response.body)
            this.nwords = response.data.data
          })
          .catch(error => {
            console.log(error)
            this.errored = true
          })
      },
      methods: {
        handleSelectionChange(val) {
          this.ruleForm.selects = val;
          console.log(this.ruleForm.selects);
        },
        submitForm(formName, type) {
          this.$refs[formName].validate((valid) => {
            if (this.ruleForm.selects.length == 0) {
              this.$message.error('请选择你要操作的语句');
              return false;
            }
            this.ruleForm.type = type
            if (valid) {
              axios({
                method: 'post',
                url: '/app?value=submit',
                data: JSON.stringify(this.ruleForm),
                headers: {'Content-Type': 'application/json'}
              })
              .then((response) => {
                console.log(response.body)
                if (response.status == 200 && response.data.code == 200) {
                  console.log("success");
                  this.$message.success("成功提交数据");
                } else {
                  console.log(response.data.info);
                  this.$message({
                    type: 'error',
                    dangerouslyUseHTMLString: true,
                    message: `提交数据失败<br />错误代码:${response.data.code}<br />错误信息:${response.data.info}`
                  });
                }
              })
              .catch(function(error){
                console.log(error)
              })
              console.log(this.ruleForm);
            } else {
              console.log('error submit!!');
              return false;
            }
            setTimeout(this.regetForm, 1000);
          });
        },
        resetForm(formName) {
          setTimeout(this.regetForm, 1000);
          this.$refs.multipleTable.clearSelection();
          this.$refs[formName].resetFields();
        },
        regetForm() {
          axios
          .get("/app?value=get")
          .then(response => {
            this.nwords = response.data.data
          })
          .catch(error => {
            console.log(error)
            this.errored = true
          })
        }
      },
    });
  </script>
</html>
